<%- include('includes/header'); %>
<%- include('includes/nav'); %>

<div class="container">
    <div class="row">

        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class=" text-center">
                Agenda
                <p class="text-center lead">
                    Seus contatos estão a baixo
                </p>
            </h1>

            <%- include('includes/messages') %> 

            <div class="responsive-table">
                <table class="table my-3">
                    
                    <tr>
                        <td>Rafael</td>
                        <td>Marcelo</td>
                        <td>62999999999</td>
                        <td>rafael@gmail.com</td>
                    </tr>
                
                </table>
            </div>
        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer'); %>